.title-center {
    margin: 0 auto;
}

.content {
    padding: 16px;
}

.mat-card {
    background-color: #a3a6ad;
}

.img {

    padding: 20px;
    width: 380px;
    height: 380px;
}

.text {
    color: blueviolet;
    width: 650px;
    margin-top: 25px;
}