<mat-toolbar color="primary">
    <span class="title-center">O autoru</span>
</mat-toolbar>
<div class="content">
    <mat-card fxLayout="row" fxLayoutGap="20px"> &nbsp;
        <mat-card-title class="text">
            <p></p>
            <b>Ljubica Jovičić, student treće godine inženjerstva informacionih sistema na
                Fakultetu tehničkih nauka u Novom Sadu. Pohađala srednju stručnu školu Radivoj Uvalić u Bačkoj Palanci,
                smer finansijski tehničar. <p></p> Email:
                <i>jovicicljubica@gmail.com</i></b>
        </mat-card-title>
        <img mat-card-image class="img" src="../../../../assets/slk.jpg">
    </mat-card>
</div>