<mat-toolbar color="primary">
    <span class="title-center">Putem naseg sajta je omogucena evidencija</span>
</mat-toolbar>
<div class="content">
    <mat-card>
        <mat-card-title>Smerova</mat-card-title>
        <mat-card-subtitle>U okviru ovog sajta takođe su obuhvaćeni i mnogobrojni smerovi koje
            Fakultet tehničkih nauka u Novom Sadu ima u ponudi za svoje buduće studente.
        </mat-card-subtitle>
        <img mat-card-image class="image" src="../../../../assets/smerovi2.jpg" />
    </mat-card> &nbsp;&nbsp;
    <mat-card class="mat-card2">
        <mat-card-title>Studenata</mat-card-title>
        <mat-card-subtitle> Vodi se evidencija o svim studentima koji su upisani
            na Fakultet Tehnickih nauka Univerziteta u Novom Sadu u okviru razlicitih smerova
            koje ovaj fakultet nudi.</mat-card-subtitle>
        <img mat-card-image class="image" src="../../../../assets/studenti2.jpg" />
    </mat-card>
</div>
<div class="content">
    <mat-card>
        <mat-card-title>Grupa</mat-card-title>
        <mat-card-subtitle> Obuhvaćena je evidencija o grupama u okviru kojih su uključeni različiti studenti
            za izradu različitih projekata.</mat-card-subtitle>
        <img mat-card-image class="image" src="../../../../assets/grupa2.jpg" />
    </mat-card> &nbsp;&nbsp;
    <mat-card class="mat-card2">
        <mat-card-title>Projekata</mat-card-title>
        <mat-card-subtitle> Vodi se evidencija o svim projektima koji su rađeni tokom studiranja
            svakog pojedinačnog studenta.</mat-card-subtitle>
        <img mat-card-image class="image" src="../../../../assets/projekat.jpg" />
    </mat-card>
</div>